<aside class="sidebar">

    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">
        <img src="{{site.baseurl}}/assets/img/phaylogo.png">
      </a>
    </div>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://www.facebook.com/{{site.facebook}}" class="social-links"><i class="social-icons fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://instagr.am/{{site.instagram}}" class="social-links"><i class="social-icons fa fa-instagram" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://pinterest.com/{{site.pinterest}}" class="social-links"><i class="social-icons fa fa-pinterest-p" aria-hidden="true"></i></a></li>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/gallery/">Gallery</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
    </menu>

</aside>
