/* PICS OF THE MONTH THUMBNALS */

.top-ten {
  position: relative;
  display: flex;
  flex-flow: wrap row;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #2aa1a9;

  img {
    object-fit: cover;
    width: 20%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .top-ten {
    height: 100%;

    img {
      width: 100%;
      max-height: 200px;
    }
  }
}

.top-ten-header {
  font-size: 1.4rem;
}

.top-ten-footer {
  margin: 1rem auto;
  text-align: center;
  color: #000;
}

/* GALLERY IMAGE VIEWER */
/* CSS RULES FOR SLIDING IMAGE */

.slide {
  position: relative;
  width: 50rem;
  height: 50rem;
  overflow: hidden;
  padding: 0;
  margin: 0 auto 15px auto;
  background-color: rgba(42, 161, 169, 0.9);
  list-style: none;
  z-index: 93;
}

.slide-bg {
  background-image: url("https://preview.ibb.co/cXG3Lm/rose.jpg");
  background-size: cover;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.slide img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 999999;
  object-fit: contain;
}

/* STYLING AND RULES FOR THUMBNAIL PAGINATION */

.thumb-container {
  height: 8.5rem;
  width: 100%;
  overflow: hidden;

  li {
    width: 12.5rem;
    background-color: rgb(42, 161, 169);

    a {
      display: block;
      float: left;
    }

    img {
      width: 100%;
      height: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.paginator-container{
  width: 50rem;
  height: auto;
  margin: 0 auto;

  input {
    display: none;
  }
}

.box-paginator {
  width: 100%;
  height: 18.55rem;
  float: left;
  position: relative;

  ul {
    width: 100%;
    height: 7.5rem;
    float: left;
    z-index: 101;

    li {
      width: 12.5rem;
      height: 7.5rem;
      float: left;
    }
  }
}

.box-gallery {
  height: 7.5rem;
  float: left;
  overflow: hidden;
}

.btn-paginator {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10001;
  left: 0;
  bottom: 9rem;
  background-color: #ecf3f3;

  ul {
    width: auto;
    height: auto;

    li {
      width: 1.5rem;
      height: 1.5rem;
      float: left;
      margin: 0 5px 0 0;
      border: 0;

      &:last-child {
        margin: 0;
      }

      label {
        width: 100%;
        height: 1.5rem;
        float: left;
        text-align: center;
        line-height: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        color: #2E2929;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color .25s ease-in-out;

        &:hover {
          background-color: rgba(42, 161, 169, 0.8);
          color: #FFF;
        }
      }
    }
  }
}

#paginator1:checked ~ .box-gallery > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(0px);
}

#paginator1:checked ~ .box-gallery label[for="paginator1"] {
  background-color: #124469;
  color: #FFF;
}

#paginator2:checked ~ .box-gallery > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-150px);
}

#paginator2:checked ~ .box-gallery label[for="paginator2"] {
  background-color: #124469;
  color: #FFF;
}

#paginator3:checked ~ .box-gallery > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-300px);
}

#paginator3:checked ~ .box-gallery label[for="paginator3"] {
  background-color: #124469;
  color: #FFF;
}

#paginator4:checked ~ .box-gallery > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-450px);
}

#paginator4:checked ~ .box-gallery label[for="paginator4"] {
  background-color: #124469;
  color: #FFF;
}

/* INDEX PAGE HERO UNIT */

.hero {
  position: relative;
  height: 25em;
  margin-bottom: 2rem;
  border: 2px solid white;

  .hero-content {
    position: absolute;
    top: 8%;
    right: 3%;
    max-width: 20em;
    text-align: center;
    color: #FFF;
    background-color: rgba(42, 161, 169, 0.8);
    border: solid 2px;
    padding: 1rem;
    z-index: 99;
   }

  .hero-logo {
    width: 10rem;
    margin: auto;
    border-radius: 50%;
    border: solid 2px;
  }

  .bg-1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/garden_buddha.jpg");
    @include animation(fade 120s infinite 5s);
  }

  .bg-2 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/lanterns.jpg");
    @include animation(fade2 120s infinite 5s);
  }

  .bg-3 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/lilly.jpg");
    @include animation(fade3 120s infinite 5s);
  }

  .bg-4 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/little_flowers.jpg");
    @include animation(fade4 120s infinite 5s);
  }

  .bg-5 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/long_flower.jpg");
    @include animation(fade5 120s infinite 5s);
  }

  .bg-6 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/passion.jpg");
    @include animation(fade6 120s infinite 5s);
  }

  .bg-7 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/pots.jpg");
    @include animation(fade7 120s infinite 5s);
  }

  .bg-8 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url($baseurl + "/assets/img/hero_slide/rose.jpg");
    @include animation(fade8 120s infinite 5s);
  }
}

@keyframes fade
{
  0%  {opacity: 1}
  12% {opacity: 0}
  25% {opacity: 0}
  37% {opacity: 0}
  50% {opacity: 0}
  62% {opacity: 0}
  75% {opacity: 0}
  87% {opacity: 0}
  100% {opacity: 1}
}
@keyframes fade2
{
  0%  {opacity: 0}
  12% {opacity: 1}
  25% {opacity: 0}
  37% {opacity: 0}
  50% {opacity: 0}
  62% {opacity: 0}
  75% {opacity: 0}
  87% {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade3
{
  0%  {opacity: 0}
  12% {opacity: 0}
  25% {opacity: 1}
  37% {opacity: 0}
  50% {opacity: 0}
  62% {opacity: 0}
  75% {opacity: 0}
  87% {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade4
{
  0%  {opacity: 0}
  12% {opacity: 0}
  25% {opacity: 0}
  37% {opacity: 1}
  50% {opacity: 0}
  62% {opacity: 0}
  75% {opacity: 0}
  87% {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade5
{
  0%  {opacity: 0}
  12% {opacity: 0}
  25% {opacity: 0}
  37% {opacity: 0}
  50% {opacity: 1}
  62% {opacity: 0}
  75% {opacity: 0}
  87% {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade6
{
  0%  {opacity: 0}
  12% {opacity: 0}
  25% {opacity: 0}
  37% {opacity: 0}
  50% {opacity: 0}
  62% {opacity: 1}
  75% {opacity: 0}
  87% {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade7
{
  0%  {opacity: 0}
  12% {opacity: 0}
  25% {opacity: 0}
  37% {opacity: 0}
  50% {opacity: 0}
  62% {opacity: 0}
  75% {opacity: 1}
  87% {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade8
{
  0%  {opacity: 0}
  12% {opacity: 0}
  25% {opacity: 0}
  37% {opacity: 0}
  50% {opacity: 0}
  62% {opacity: 0}
  75% {opacity: 0}
  87% {opacity: 1}
  100% {opacity: 0}
}

/* GALLERY CARDS */

.cards {
  @include grid-container;

  a {
    text-decoration: none;
    color: #515151;

    &:hover {
      color: #000;
    }
  }
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #2aa1a9;

  margin-bottom: 20px;
  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  @include grid-column(3 of 9);

    .card-image {
      display: flex;
      background-color: #000;
      max-height: 230px;
      overflow: hidden;

      img {
        @include border-top-radius($base-border-radius);
        opacity: 1;
        transition: all 0.2s ease-in-out;
        width: 100%;
        min-height: 250px;
        object-fit: contain;
      }
    }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: center;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

.first-card {
  @include grid-column(6 of 9);
}

.last-card {
  @include grid-column(6 of 9);
}

.card-altered {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #2aa1a9;

  min-width: 500px;
  margin-bottom: 20px;
  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  @include grid-column(4 of 10);

  .card-image-altered {
    background-color: $card-image-hover-color;
    max-height: 300px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
      min-height: 350px;
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;
  }

  figcaption {
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    color: #5ab;
  }
}

/// 575 px screen width

@media only screen and (max-width: 35.938em) {
  .card-altered {
    min-width: 300px;
  }
}

/// 768 px screen width

@media only screen and (max-width: 48em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-altered {
    margin: {
      left: 0;
      right: 0;
    }

    figcaption {
      font-size: 1.5rem;
    }
  }
}

/// 1145 px screen width

@media only screen and (max-width: 71.563em) {
  .card {
    @include grid-column(1 of 1);
    margin-left: 0;
  }

  .first-card {
    @include grid-column(1 of 1);
    margin-left: 0;
  }

  .last-card {
    @include grid-column(1 of 1);
    margin-left: 0;
  }
}

@media only screen and (min-width: 71.563em) {
  .card {
    min-height: 21rem;
  }
}

/* The Modal */

.modal {
  display: none;
  position: fixed;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  width: 90%;
  height: 90%;
  padding-top: 1rem;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(215, 215, 225, 0.9);
  z-index: 999999;
}

.modal img {
  margin: 0 auto;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 2px solid rgb(5, 5, 15);
  border-radius: 10px;
  transition: 0.3s;
  cursor: default;
  background-color: rgb(256, 256, 256,);
}

.modal img:hover {
  opacity: 0.9;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 90%;
  text-align: center;

  &::before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

/* The Close Button and DIV*/
.close {
  position: relative;
  bottom: -5%;
  text-align: center;
  color: rgb(5, 5, 15);
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.closeModal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
}
